/*UTILS*/
.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

.clearfix {
  overflow: hidden;
}
/* END OF UTILS*/

.posts {
  list-style-type: none;
  padding-left: 0;
}

.title {
  color: darkcyan;
  line-height: 3em;
  letter-spacing: 0.008em;
  font-size: 20px;
}

a:hover {
  text-decoration: none;
}

.post-date {
  float: right;
  color: lightgrey;
  font-size: 15px;
}

.post-content hr {
  height: 1px;
  margin: 40px 0;
}

.post-content {
  margin-left: 10%;
  margin-right: 10%;
}

.post-content p {
  line-height: 2em;
  letter-spacing: 0.008em;
}

.post-header {
  margin: 40px 0 80px;
}

#home, .site-footer {
  margin-left: 10%;
  margin-right: 10%;
}

.post-header {
  margin-left: 10%;
  margin-right: 10%;
}
