@import url("https://fonts.googleapis.com/css?family=News+Cycle");

:root {
  --aqua-forest: #64A36F;
  --mine-shaft: #222222;
}

/* Global */

body {
  color: var(--mine-shaft);
  font-size: 1em;
  font-weight: 400;
  line-height: 1.5;
}

a {
  color: var(--mine-shaft);
  text-decoration: underline;
}

a:focus, a:hover {
  color: var(--aqua-forest);
}

h1, h2, h3, h4, h5, h6 {
  font-family: "News Cycle", "Arial Narrow Bold", sans-serif;
  margin-bottom: 0.5em;
  font-weight: 700;
  line-height: 1.1;
}

.footer {
  bottom: 0;
  height: 2em;
  line-height: 2em;
  position: absolute;
  text-align: center;
  width: 100%;
}


/* Home page */

.container-home {
  padding-top: 3em;
}

.container-home ul {
  list-style: none;
  margin-bottom: 0;
  padding: 0 0 3em 0;
  text-align: center;
}
