@import url("https://fonts.googleapis.com/css?family=News+Cycle");

:root {
  --black: #000000;
  --brown-10: #5B3E33;
  --brown-20: #835E51;
  --brown-30: #DAA974;
  --light-gray: #D6D8DB;
  --white: #FFFFFF;
}

/* Global */

body {
  color: var(--black);
  font-size: 1em;
  font-weight: 400;
  line-height: 1.5;
}

a {
  color: var(--black);
  text-decoration: underline;
}

a:focus, a:hover {
  color: var(--brown-20);
}

h1, h2, h3, h4, h5, h6 {
  font-family: "News Cycle", "Arial Narrow Bold", sans-serif;
  margin-bottom: 0.5em;
  font-weight: 700;
  line-height: 1.1;
}

.footer {
  bottom: 0;
  height: 2em;
  line-height: 2em;
  position: absolute;
  text-align: center;
  width: 100%;
}

.navbar-light {
  background: var(--white);
  border-bottom: 1px solid var(--light-gray);
}

.navbar-light .navbar-nav .nav-link {
  color: var(--black);
  text-decoration: none;
}

.navbar-light .navbar-nav .nav-link:hover {
  color: var(--brown-20);
}

.navbar-light .active .nav-link {
  font-weight: bold;
}

/* Home page */

.container-home {
  padding-top: 3em;
}

.container-home ul {
  list-style: none;
  margin-bottom: 0;
  padding: 0 0 3em 0;
  text-align: center;
}

.profile-picture {
  border-radius: 100px;
  height: 170px;
  margin-bottom: 2em;
}
