<ul class="navbar-nav mr-auto">
  <li class="nav-item {% if include.currentSubNavItem == 'blog' %} active {% endif %}">
    <a class="nav-link" href="/technology/blog" title="Technology Blog">Blog</a>
  </li>
  <li class="nav-item {% if include.currentSubNavItem == 'projects' %} active {% endif %}">
    <a class="nav-link" href="/technology/projects" title="Projects">Projects</a>
  </li>
  <li class="nav-item {% if include.currentSubNavItem == 'playground' %} active {% endif %}">
    <a class="nav-link" href="/technology/playground" title="Playground">Playground</a>
  </li>
</ul>
