---
layout: default
permalink: /personal/arts.html
title: {{ site.name }}

---

{% include navbar.html currentNavItem="personal" currentSubNavItem="arts" %}

<div class="container">
  <div class="row">
    <div class="col-sm-6 offset-sm-3">
      <h2 class="post-title">Arts</h2>
      <ul class="list-unstyled list-posts">

        {% for post in site.art_blog reversed %}
        <li>
          <div>
            <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
          </div>
          <div class="date text-muted small">{{ post.date | date_to_string }}</div>
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</div>