---
layout: default
permalink: /technology/blog.html
title: {{ site.name }}
redirect_from:
  - /technology/

---
{% include navbar.html currentNavItem="technology" currentSubNavItem="blog" %}

<div class="container">
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2">
      <h3>Posts</h3>
      <ul>
        {% for post in site.technology_blog reversed %}
        <li>
          <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</div>
