---
layout: default
permalink: /technology/projects.html
title: {{ site.name }}

---

{% include navbar.html currentNavItem="technology" currentSubNavItem="projects" %}

<main class="container">
  <div class="row">
    <div class="col-sm-6 offset-sm-3">
      <h2 class="post-title">Projects</h2>
      <ul class="list-unstyled list-posts">
        {% for post in site.technology_projects %}
        <li>
          <div>
            <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
          </div>
        </li>
        {% endfor %}
        <li>
          <div>
            <a href="https://github.com/soumyaveer/trivia-zone#tech" target="_blank">Trivia Zone</a>
          </div>
        </li>
        <li>
          <div>
            <a href="https://github.com/soumyaveer/stylecheck" target="_blank">StyleCheck</a>
          </div>
        </li>
      </ul>
    </div>
  </div>
</main>
